name: BlingFire Linux
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "*"
    paths:
      - .github/workflows/blingfire-linux.yml

jobs:
  build:
    runs-on: ubuntu-latest
    container: ubuntu:16.04
    steps:
      - run: |
          apt update
          apt install -y build-essential cmake git
          git clone --recursive --branch v0.1.8 https://github.com/microsoft/BlingFire.git
          cd BlingFire
          mkdir build
          cd build
          cmake ..
          make
          cd ..
          du -ah .
      - uses: actions/upload-artifact@v2
        with:
          name: libblingfiretokdll.so
          path: BlingFire/build/libblingfiretokdll.so
