name: BlingFire Mac ARM
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "*"
    paths:
      - .github/workflows/blingfire-mac-arm.yml

jobs:
  build:
    runs-on: macos-11
    steps:
      - run: |
          git clone --recursive --branch v0.1.8 https://github.com/microsoft/BlingFire.git
          cd BlingFire
          mkdir build
          cd build
          cmake .. -DCMAKE_OSX_ARCHITECTURES=arm64
          make
          mv libblingfiretokdll.dylib libblingfiretokdll.arm64.dylib
        env:
          MACOSX_DEPLOYMENT_TARGET: 11.0
      - uses: actions/upload-artifact@v2
        with:
          name: libblingfiretokdll.arm64.dylib
          path: BlingFire/build/libblingfiretokdll.arm64.dylib
