name: BlingFire Linux ARM
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "*"
    paths:
      - .github/workflows/blingfire-linux-arm.yml

jobs:
  build:
    runs-on: ubuntu-latest
    container: ubuntu:16.04
    steps:
      - run: |
          apt update
          apt install -y cmake gcc-aarch64-linux-gnu g++-aarch64-linux-gnu git
          git clone --recursive --branch v0.1.8 https://github.com/microsoft/BlingFire.git
          cd BlingFire
          mkdir build
          cd build
          cmake .. -DCMAKE_SYSTEM_NAME=Linux -DCMAKE_SYSTEM_PROCESSOR=arm -DCMAKE_C_COMPILER=aarch64-linux-gnu-gcc -DCMAKE_CXX_COMPILER=aarch64-linux-gnu-g++ -DCMAKE_FIND_ROOT_PATH_MODE_PROGRAM=NEVER -DCMAKE_FIND_ROOT_PATH_MODE_LIBRARY=ONLY -DCMAKE_FIND_ROOT_PATH_MODE_INCLUDE=ONLY -DCMAKE_FIND_ROOT_PATH_MODE_PACKAGE=ONLY
          make
          cd ..
          du -ah .
      - uses: actions/upload-artifact@v1
        with:
          name: libblingfiretokdll.arm64.so
          path: BlingFire/build/libblingfiretokdll.so
