name: cmfrec Windows
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "*"
    paths:
      - .github/workflows/cmfrec-windows.yml

jobs:
  build:
    runs-on: windows-2019
    steps:
      - run: |
          git clone --recursive --branch master https://github.com/david-cortes/cmfrec.git
          cd cmfrec
          git checkout ccdd1d44c3a496c6b0e688a8f69dbf16011dd324
          cmake -B build -DCMAKE_VERBOSE_MAKEFILE=ON -DCMAKE_BUILD_TYPE=Release
          cmake --build build --config Release

          mkdir dist
          cp build/Release/cmfrec.dll dist
          cp LICENSE dist/LICENSE
          cp inst/COPYRIGHTS dist/COPYRIGHTS
        shell: cmd
      - uses: actions/upload-artifact@v3
        with:
          name: cmfrec-3.4.2-x86_64-windows
          path: cmfrec/dist
