name: LIBMF Linux
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "*"
    paths:
      - .github/workflows/libmf-linux.yml

jobs:
  build:
    runs-on: ubuntu-latest
    container: ubuntu:16.04
    steps:
      - run: |
          apt update
          apt install -y build-essential git
          git clone --recursive --branch mf_read_problem https://github.com/ankane/libmf-1.git libmf
          cd libmf
          sed -i 's/-march=native/-march=x86-64/g' Makefile
          make all lib DFLAG="" OMPFLAG=""
          mv libmf.so.2 libmf.so
      - uses: actions/upload-artifact@v2
        with:
          name: libmf.so
          path: libmf/libmf.so
