name: LightGBM Mac ARM
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "*"
    paths:
      - .github/workflows/lightgbm-mac-arm.yml

jobs:
  build:
    runs-on: macos-14
    steps:
      - run: |
          brew install libomp
          git clone --recursive --branch v4.5.0 https://github.com/microsoft/LightGBM
          cd LightGBM
          mkdir build
          cd build
          cmake .. -DAPPLE_OUTPUT_DYLIB=ON -DCMAKE_VERBOSE_MAKEFILE=ON -DOpenMP_C_FLAGS="-Xpreprocessor -fopenmp -I/opt/homebrew/opt/libomp/include" -DOpenMP_C_LIB_NAMES=omp -DOpenMP_CXX_FLAGS="-Xpreprocessor -fopenmp -I/opt/homebrew/opt/libomp/include" -DOpenMP_CXX_LIB_NAMES=omp -DOpenMP_omp_LIBRARY=/opt/homebrew/opt/libomp/lib/libomp.dylib
          make -j4
          mv ../lib_lightgbm.dylib ../lib_lightgbm.arm64.dylib
          install_name_tool -change @@HOMEBREW_PREFIX@@/opt/libomp/lib/libomp.dylib /opt/homebrew/opt/libomp/lib/libomp.dylib ../lib_lightgbm.arm64.dylib
          otool -L ../lib_lightgbm.arm64.dylib
        env:
          MACOSX_DEPLOYMENT_TARGET: 11.0
      - uses: actions/upload-artifact@v4
        with:
          name: lib_lightgbm.arm64.dylib
          path: LightGBM/lib_lightgbm.arm64.dylib
