name: MITIE Linux ARM
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "*"
    paths:
      - .github/workflows/mitie-linux-arm.yml

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    container: ubuntu:20.04
    steps:
      - run: |
          export DEBIAN_FRONTEND=noninteractive
          apt update
          apt install -y build-essential cmake git
          git clone --recursive --branch v0.7 https://github.com/mit-nlp/MITIE.git
          cd MITIE/mitielib
          mkdir build
          cd build
          cmake .. -DCMAKE_VERBOSE_MAKEFILE=ON
          make -j4
          mv libmitie.so libmitie.arm64.so
          cd ..
          du -ah .
      - uses: actions/upload-artifact@v4
        with:
          name: libmitie.arm64.so
          path: MITIE/mitielib/build/libmitie.arm64.so
