name: MITIE Linux ARM
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "*"
    paths:
      - .github/workflows/mitie-linux-arm.yml

jobs:
  build:
    runs-on: ubuntu-latest
    container: ubuntu:18.04
    steps:
      - run: |
          apt update
          apt install -y cmake gcc-aarch64-linux-gnu g++-aarch64-linux-gnu git
          git clone --recursive --branch v0.7 https://github.com/mit-nlp/MITIE.git
          cd MITIE
          rm -rf dlib
          git clone --recursive --branch v19.24 https://github.com/davisking/dlib.git
          cd mitielib
          mkdir build
          cd build
          cmake .. -DCMAKE_VERBOSE_MAKEFILE=ON -DCMAKE_SYSTEM_NAME=Linux -DCMAKE_SYSTEM_PROCESSOR=arm -DCMAKE_C_COMPILER=aarch64-linux-gnu-gcc -DCMAKE_CXX_COMPILER=aarch64-linux-gnu-g++ -DCMAKE_FIND_ROOT_PATH_MODE_PROGRAM=NEVER -DCMAKE_FIND_ROOT_PATH_MODE_LIBRARY=ONLY -DCMAKE_FIND_ROOT_PATH_MODE_INCLUDE=ONLY -DCMAKE_FIND_ROOT_PATH_MODE_PACKAGE=ONLY
          make -j4
          mv libmitie.so libmitie.arm64.so
          cd ..
          du -ah .
      - uses: actions/upload-artifact@v2
        with:
          name: libmitie.arm64.so
          path: MITIE/mitielib/build/libmitie.arm64.so
