name: NGT Linux ARM
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "*"
    paths:
      - .github/workflows/ngt-linux-arm.yml

jobs:
  build:
    runs-on: ubuntu-latest
    container: ubuntu:20.04
    steps:
      # half license from https://sourceforge.net/p/half/code/HEAD/tree/tags/release-2.2.0/LICENSE.txt
      # grep checks source code version
      - uses: actions/checkout@v4
      - run: |
          export DEBIAN_FRONTEND=noninteractive
          apt update
          apt install -y gcc-aarch64-linux-gnu g++-aarch64-linux-gnu cmake git

          git clone --recursive --branch v2.5.1 https://github.com/yahoojapan/NGT
          cd NGT
          mkdir build
          cd build
          cmake .. -DCMAKE_VERBOSE_MAKEFILE=ON -DNGT_MARCH_NATIVE_DISABLED=ON -DNGT_QBG_DISABLED=ON -DCMAKE_SYSTEM_NAME=Linux -DCMAKE_SYSTEM_PROCESSOR=arm -DCMAKE_C_COMPILER=aarch64-linux-gnu-gcc -DCMAKE_CXX_COMPILER=aarch64-linux-gnu-g++ -DCMAKE_FIND_ROOT_PATH_MODE_PROGRAM=NEVER -DCMAKE_FIND_ROOT_PATH_MODE_LIBRARY=ONLY -DCMAKE_FIND_ROOT_PATH_MODE_INCLUDE=ONLY -DCMAKE_FIND_ROOT_PATH_MODE_PACKAGE=ONLY
          make
          cd ..

          grep -F "Version 2.2.0" lib/NGT/half.hpp

          mkdir dist
          cp build/lib/NGT/libngt.so dist
          cp LICENSE dist/LICENSE-ngt.txt
          cp ../extra/NGT/LICENSE-half.txt dist
      - uses: actions/upload-artifact@v4
        with:
          name: ngt-2.5.1-aarch64-linux
          path: NGT/dist
