name: OSQP Linux
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "*"
    paths:
      - .github/workflows/osqp-linux.yml

jobs:
  build:
    runs-on: ubuntu-latest
    container: ubuntu:20.04
    steps:
      - run: |
          export DEBIAN_FRONTEND=noninteractive
          apt update
          apt install -y build-essential git
          wget -q https://github.com/Kitware/CMake/releases/download/v3.21.3/cmake-3.21.3-linux-x86_64.tar.gz
          tar xzf cmake-3.21.3-linux-x86_64.tar.gz
          git clone --recursive --branch v1.0.0 https://github.com/oxfordcontrol/osqp.git
          cd osqp
          mkdir build
          cd build
          ../../cmake-3.21.3-linux-x86_64/bin/cmake .. -DCMAKE_VERBOSE_MAKEFILE=ON
          make -j4
          cd ..
          du -ah .

          mkdir dist
          cp build/out/libosqp.so dist
          cp LICENSE dist/LICENSE-osqp.txt
          cp NOTICE dist/NOTICE-osqp.txt
          cp algebra/_common/lin_sys/qdldl/amd/LICENSE dist/LICENSE-amd.txt
          cp lin_sys/direct/qdldl/qdldl_sources/LICENSE dist/LICENSE-qdldl.txt
      - uses: actions/upload-artifact@v4
        with:
          name: osqp-1.0.0-x86_64-linux
          path: osqp/dist
