name: OSQP Windows
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "*"
    paths:
      - .github/workflows/osqp-windows.yml

jobs:
  build:
    runs-on: windows-2019
    steps:
      - run: |
          git clone --recursive --branch v1.0.0 https://github.com/oxfordcontrol/osqp.git
          cd osqp
          mkdir build
          cd build
          cmake .. -DENABLE_MKL_PARDISO=OFF -DCMAKE_WINDOWS_EXPORT_ALL_SYMBOLS=ON -G "Visual Studio 16 2019" -A x64
          cmake --build . --config Release
          cd ..

          mkdir dist
          cp build/out/Release/osqp.dll dist
          cp LICENSE dist/LICENSE-osqp.txt
          cp NOTICE dist/NOTICE-osqp.txt
          cp algebra/_common/lin_sys/qdldl/amd/LICENSE dist/LICENSE-amd.txt
          cp build/_deps/qdldl-src/LICENSE dist/LICENSE-qdldl.txt
        shell: cmd
      - uses: actions/upload-artifact@v4
        with:
          name: osqp-1.0.0-x86_64-windows
          path: osqp/dist
