name: OSQP Linux ARM
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "*"
    paths:
      - .github/workflows/osqp-linux-arm.yml

jobs:
  build:
    runs-on: ubuntu-latest
    container: ubuntu:20.04
    steps:
      - run: |
          apt update
          apt install -y cmake gcc-aarch64-linux-gnu g++-aarch64-linux-gnu git wget
          wget -q https://github.com/Kitware/CMake/releases/download/v3.21.3/cmake-3.21.3-linux-x86_64.tar.gz
          tar xzf cmake-3.21.3-linux-x86_64.tar.gz
          git clone --recursive --branch v1.0.0 https://github.com/oxfordcontrol/osqp.git
          cd osqp
          mkdir build
          cd build
          ../../cmake-3.21.3-linux-x86_64/bin/cmake .. -DCMAKE_VERBOSE_MAKEFILE=ON -DCMAKE_SYSTEM_NAME=Linux -DCMAKE_SYSTEM_PROCESSOR=arm -DCMAKE_C_COMPILER=aarch64-linux-gnu-gcc -DCMAKE_CXX_COMPILER=aarch64-linux-gnu-g++ -DCMAKE_FIND_ROOT_PATH_MODE_PROGRAM=NEVER -DCMAKE_FIND_ROOT_PATH_MODE_LIBRARY=ONLY -DCMAKE_FIND_ROOT_PATH_MODE_INCLUDE=ONLY -DCMAKE_FIND_ROOT_PATH_MODE_PACKAGE=ONLY
          make -j4
          cd ..
          du -ah .

          mkdir dist
          cp build/out/libosqp.so dist
          cp LICENSE dist/LICENSE-osqp.txt
          cp NOTICE dist/NOTICE-osqp.txt
          cp algebra/_common/lin_sys/qdldl/amd/LICENSE dist/LICENSE-amd.txt
          cp build/_deps/qdldl-src/LICENSE dist/LICENSE-qdldl.txt
      - uses: actions/upload-artifact@v4
        with:
          name: osqp-1.0.0-aarch64-linux
          path: osqp/dist
