name: ThunderSVM Linux ARM
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "*"
    paths:
      - .github/workflows/thundersvm-linux-arm.yml

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    container: ubuntu:20.04
    steps:
      - run: |
          export DEBIAN_FRONTEND=noninteractive
          apt update
          apt install -y build-essential cmake git wget
          git clone --recursive --branch v0.3.4 https://github.com/Xtra-Computing/thundersvm
          cd thundersvm
          mkdir build
          cd build
          cmake .. -DUSE_CUDA=OFF -DCMAKE_CXX_FLAGS=-march=armv8-a -DCMAKE_VERBOSE_MAKEFILE=ON
          make -j4
          mv lib/libthundersvm.so lib/libthundersvm.arm64.so
      - uses: actions/upload-artifact@v4
        with:
          name: libthundersvm.arm64.so
          path: thundersvm/build/lib/libthundersvm.arm64.so
