name: Vowpal Wabbit Linux
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "*"
    paths:
      - .github/workflows/vowpalwabbit-linux.yml

jobs:
  build:
    runs-on: ubuntu-latest
    container: ubuntu:16.04
    steps:
      - run: |
          apt update
          apt install -y build-essential cmake git libboost-dev libboost-program-options-dev libboost-system-dev libboost-thread-dev libboost-math-dev libboost-test-dev zlib1g-dev
          git clone --recursive --branch 8.8.1 https://github.com/VowpalWabbit/vowpal_wabbit.git
          cd vowpal_wabbit
          mkdir build
          cd build
          cmake .. -DBUILD_TESTS=OFF
          make -j4
          cd ..
          du -ah .
      - uses: actions/upload-artifact@v2
        with:
          name: libvw_c_wrapper.so
          path: vowpal_wabbit/build/vowpalwabbit/libvw_c_wrapper.so
