name: XGBoost Windows
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "*"
    paths:
      - .github/workflows/xgboost-windows.yml

jobs:
  build:
    runs-on: windows-2019
    steps:
      - run: |
          git clone --recursive --branch v2.1.0 https://github.com/dmlc/xgboost
          cd xgboost
          mkdir build
          cd build
          cmake .. -G "Visual Studio 16 2019" -A x64 -DUSE_OPENMP=OFF
          cmake --build . --config Release
          cd ..

          mkdir dist
          cp lib/xgboost.dll dist
          cp LICENSE dist/LICENSE-xgboost.txt
          cp dmlc-core/LICENSE dist/LICENSE-dmlc-core.txt
        shell: cmd
      - uses: actions/upload-artifact@v3
        with:
          name: xgboost-2.1.0-x86_64-windows
          path: xgboost/dist
