name: XGBoost Linux musl
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "*"
    paths:
      - .github/workflows/xgboost-linux-musl.yml

jobs:
  build:
    runs-on: ubuntu-latest
    container: alpine:3.16
    steps:
      - run: |
          apk update
          apk add build-base cmake git linux-headers wget
          git clone --recursive --branch v3.1.0 https://github.com/dmlc/xgboost
          cd xgboost
          mkdir build
          cd build
          cmake .. -DCMAKE_VERBOSE_MAKEFILE=ON
          make -j4
          cd ..

          mkdir dist
          cp lib/libxgboost.so dist
          cp LICENSE dist/LICENSE-xgboost.txt
          cp dmlc-core/LICENSE dist/LICENSE-dmlc-core.txt
      - uses: actions/upload-artifact@v4
        with:
          name: xgboost-3.1.0-x86_64-linux-musl
          path: xgboost/dist
