name: XGBoost Mac
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "*"
    paths:
      - .github/workflows/xgboost-mac.yml

jobs:
  build:
    runs-on: macos-15-intel
    steps:
      - run: |
          brew install cmake libomp
          git clone --recursive --branch v3.2.0 https://github.com/dmlc/xgboost
          cd xgboost
          mkdir build
          cd build
          cmake .. -DCMAKE_VERBOSE_MAKEFILE=ON
          make -j4
          cd ..

          mkdir dist
          cp lib/libxgboost.dylib dist
          cp LICENSE dist/LICENSE-xgboost.txt
          cp dmlc-core/LICENSE dist/LICENSE-dmlc-core.txt
        env:
          MACOSX_DEPLOYMENT_TARGET: 10.15
      - uses: actions/upload-artifact@v6
        with:
          name: xgboost-3.2.0-x86_64-darwin
          path: xgboost/dist
