name: XGBoost Linux ARM
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "*"
    paths:
      - .github/workflows/xgboost-linux-arm.yml

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    container: ubuntu:20.04
    steps:
      - run: |
          export DEBIAN_FRONTEND=noninteractive
          apt update
          apt install -y build-essential git wget
          wget -q https://github.com/Kitware/CMake/releases/download/v4.2.3/cmake-4.2.3-linux-aarch64.tar.gz
          tar xzf cmake-4.2.3-linux-aarch64.tar.gz
          git clone --recursive --branch v3.2.0 https://github.com/dmlc/xgboost
          cd xgboost
          mkdir build
          cd build
          ../../cmake-4.2.3-linux-aarch64/bin/cmake .. -DCMAKE_VERBOSE_MAKEFILE=ON
          make -j4
          cd ..

          mkdir dist
          cp lib/libxgboost.so dist
          cp LICENSE dist/LICENSE-xgboost.txt
          cp dmlc-core/LICENSE dist/LICENSE-dmlc-core.txt
      - uses: actions/upload-artifact@v6
        with:
          name: xgboost-3.2.0-aarch64-linux
          path: xgboost/dist
